In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
file_path = 'data-114682-2021-07-19.csv'
df = pd.read_csv(file_path,sep=';',encoding='ANSI')
df = df.iloc[:,:6]

In [12]:
df.head()

   ID  Year   Month            TransportType  PassengerTraffic   global_id
0   1  2019  Январь                  Автобус          90444485  1103632668
1   2  2019  Январь                  Трамвай          16742026  1103632669
2   3  2019  Январь               Троллейбус          13094342  1103632670
3   4  2019  Январь               Электробус            469699  1103632671
4   5  2019  Январь  Московский метрополитен         213159369  1103632672

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                180 non-null    int64
 1   Year              180 non-null    int64
 2   Month             180 non-null    object
 3   TransportType     180 non-null    object
 4   PassengerTraffic  180 non-null    int64
 5   global_id         180 non-null    int64
dtypes: int64(4), object(2)
memory usage: 8.6+ KB